<div id="view-scroll" ng-controller="diagramTabCtrl" >
     <div class="diagram ng-pristine ng-untouched ng-valid">
          <a id="view-home" ng-click="homePageClk()" class="btn diagram-tab ng-binding ng-scope active"
             style="{{languageJson.Language == 'English'?'width: auto;':''}}">
               {{languageJson.RoomHome.RoomTitle}}
          </a><!--机房布局图  href="#/adevice/1004/adiagram" -->

          <a href="#/"  class="btn diagram-tab"
             style="{{languageJson.Language == 'English'?'width: auto;':''}}">
               {{languageJson.RoomHome.AlarmTitle.Title}}
          </a><!--告警总览表-->
     </div>
</div>

<div ui-view="diagram" id="diagramControl"/>