<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content am-modal-dialog">
      <div class="modal-header" draggable>
        <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">{{languageJson.RoomHome.AlarmTitle.EndAlarm.Title}}</h4><!--请输入告警结束原因-->
      </div>
      <div class="modal-body">
        <textarea class="alarm-remark" ng-model="noticeText" Virtual-Key-Board="noticeText"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
            ng-click="endEndAlarm(noticeText)">{{languageJson.RoomHome.AlarmTitle.EndAlarm.End}}</button><!--结束-->
        <button type="button" class="btn btn-default" ng-click="$hide()">{{languageJson.RoomHome.AlarmTitle.EndAlarm.Close}}</button><!--关闭-->
      </div>
    </div>
  </div>
</div>