<div class="panel panel-primary" dragger resizer>
    <div class="panel-heading diagram-ele-head" title="{{languageJson.AlarmConfigure.AlarmConfigure}}" ><!--实时告警列表-->

        <a class="pull-left grahico" setparttop  title="{{languageJson.Configuration.Control.Top}}"><!--置顶-->
            <i class="fa fa-eject" ></i></a>

        <a class="pull-right grahico" deletepartsetter title="{{languageJson.Configuration.Control.Delete}}"><!--删除-->
            <i class="fa fa-times" ></i></a>
    </div>
    <div class="panel-body filled" style="height: calc(100% - 19px);">
        <div class="active-alarm-head">
            <!--紧急告警-->
            <span class="body pointer" ng-click="checkTest('levelUrgent')">
                <i class="fa {{levelFilter.levelUrgent == true ? 'fa-bell' : 'fa-bell-slash-o'}} fa-fw alarmLevel3"></i>
                <span>{{languageJson.Alarm.EAlarm}}</span>
            </span>
            <!--重要告警-->
            <span class="body pointer" ng-click="checkTest('levelImportant')">
                <i class="fa {{levelFilter.levelImportant == true ? 'fa-bell' : 'fa-bell-slash-o'}} fa-fw alarmLevel2"></i>
                <span>{{languageJson.Alarm.IAlarm}}</span>
            </span>
            <!--一般告警-->
            <span class="body pointer" ng-click="checkTest('levelCommon')">
                <i class="fa {{levelFilter.levelCommon == true ? 'fa-bell' : 'fa-bell-slash-o'}} fa-fw alarmLevel1"></i>
                <span>{{languageJson.Alarm.GAlarm}}</span>
            </span>
            <!--提示信息-->
            <span class="body pointer" ng-click="checkTest('levelTip')">
                <i class="fa {{levelFilter.levelTip == true ? 'fa-bell' : 'fa-bell-slash-o'}} fa-fw alarmLevel0"></i>
                <span>{{languageJson.Alarm.PAlarm}}</span>
            </span>
        </div>
        <div class="active-alarm-body scroll-easy" style="overflow-y: auto; height: calc(100% - 40px);">
            <table  id="alarmTable" show-filter="true" class="table ng-table-responsive active-alarm-table body_transparent"  >
                <thead>
                <tr>
                    <td align="center">{{languageJson.AlarmConfigure.Level}}</td><!--等级-->
                    <td align="center">{{languageJson.AlarmConfigure.DeviceName}}</td><!--设备名称-->
                    <td align="center">{{languageJson.AlarmConfigure.AlarmName}}</td><!--告警名称-->
                    <td align="center">{{languageJson.AlarmConfigure.Meanings}}</td><!--含义-->
                    <td align="center">{{languageJson.AlarmConfigure.TriggerValue}}</td><!--触发值-->
                    <!--<td align="center">{{languageJson.AlarmConfigure.StartTime}}</td>--><!--开始时间-->
                </tr>
                </thead>
                <tbody class="scroll-easy alarm-list-table">
                    <tr ng-repeat-start="alarm in ActiveAlarm" class="alarm-table-content {{($index-1)%2 == 0 ? 'even' : 'odd'}}">
                        <td align="center" rowspan="2" class="alarm-table-level">
                            <span><i class="fa fa-bell fa-fw alarmLevel{{alarm.alarmLevel}}"></i></span>
                        </td>
                        <td align="center" rowspan="2" class="alarm-table-name">{{alarm.deviceName}}</td>
                        <td align="center">{{alarm.eventName}}</td>
                        <td align="center">{{alarm.meanings}}</td>
                        <td align="center">{{alarm.triggerValue}}</td>
                    </tr>
                    <tr ng-repeat-end class="alarm-table-time {{($index-1)%2 == 0 ? 'even' : 'odd'}}">
                        <td colspan="3" align="right">{{alarm.startTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>