<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content am-modal-dialog">
            <div class="modal-header" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
                <button type="button" class="close" ng-click="$hide()">
                    <i class="fa fa-times"></i></button>
                <h4 class="modal-title">{{languageJson.DeviceAlarm.Settings}}<!--设备告警绑定设置--></h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <label class="control-label {{languageJson.Language == 'English'?'col-md-4':'col-md-3'}} labelCenter">{{languageJson.DeviceAlarm.Selection.Device}}<!--设备选择:--></label>
                    <div class="{{languageJson.Language == 'English'?'col-md-8':'col-md-9'}}">
                        <select id="portType" class="form-control" name = "portType" ng-model="configMdc.deviceId"
                                ng-change="changeEventDevice(configMdc.deviceId)">
                            <option ng-repeat="dev in configMdc.devices" value="{{dev.id}}"
                                    ng-selected="{{dev.id == configMdc.deviceId}}">
                                {{dev.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-12" style="height: 250px;">
                    <label class="control-label {{languageJson.Language == 'English'?'col-md-4':'col-md-3'}}">{{languageJson.DeviceAlarm.Selection.Alarm}}<!--告警选择：--></label>
                    <input class="form-control" ng-model="text" style="width: 100%;display:inline;margin: 10px 0px" type="text"  placeholder="{{languageJson.DeviceAlarm.Enter}}"/><!--输入关键字筛选事件-->
                    <select class="form-control" size="8"
                            ng-model="configMdc.signalId" style="height: 65%;">
                        <option ng-repeat="dev in configMdc.signals | filter:{signalName:text}" value="{{dev.signalId}}"
                                ng-selected="{{dev.signalId == configMdc.signalId}}">
                            {{dev.signalName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        ng-click="saveBindEventDevice()">{{languageJson.DeviceAlarm.Decide.Add}}<!--新增告警--></button>
                <button type="button" class="btn btn-default" ng-click="$hide()">{{languageJson.DeviceAlarm.Decide.Close}}<!--关闭--></button>
            </div>
        </div>
    </div>
</div>