<div class="panel panel-primary" dragger resizer>
    <div class="panel-heading diagram-ele-head" title="{{languageJson.Configuration.VideoControl.UpdTitle}}">

        <a class="pull-left grahico" setparttop  title="{{languageJson.Configuration.Control.Top}}"><!--置顶-->
            <i class="fa fa-eject" ></i></a>

        <a class="pull-right grahico" deletepartsetter  title="{{languageJson.Configuration.Control.Delete}}"><i class="fa fa-times" ></i> </a><!--删除-->
        <a class="pull-right grahico" camerapartsetter  title="{{languageJson.Configuration.Control.Setter}}"><i class="fa fa-wrench" ></i> </a><!--设置-->

    </div>
    <div class="panel-body cameraplug" style="background-size:100% 100% !important; height:calc(100% - 35px); cursor: pointer;">
        <img styles="width:100%; height:auto;" />
    </div>
</div>