<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content am-modal-dialog">
      <div class="modal-header" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
        <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"> {{languageJson.Header.User.Password.Title}}</h4><!--更改密码-->
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label col-md-4">{{languageJson.Header.User.Password.CurrPwd}}</label><!--当前密码-->
                    <div class="col-md-6">
                      <input type="password" class="form-control" ng-model="user.oldPwd" Virtual-Key-Board="user.oldPwd">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4">{{languageJson.Header.User.Password.NewPwd}}</label><!--新密码-->
                    <div class="col-md-6">
                      <input type="password" class="form-control" ng-model="user.newPwd" Virtual-Key-Board="user.newPwd">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-4">{{languageJson.Header.User.Password.AgainNewPwd}}</label><!--再次输入新密码-->
                    <div class="col-md-6">
                      <input  type="password" class="form-control" ng-model="user.newPwd2" Virtual-Key-Board="user.newPwd2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p id="errorText" style="color:red;" ng-bind="user.info"></p>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
        ng-click="updatePassword()">{{languageJson.Header.User.Password.Modify}}</button><!--更改-->
        <button type="button" class="btn btn-default" ng-click="$hide()">{{languageJson.Header.User.Password.Close}}</button><!--关闭-->
      </div>
    </div>
  </div>
</div>