<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content am-modal-dialog">
            <div class="modal-header" draggable>
                <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">{{languageJson.OtherModule.ChinaunicomCfgBox.DeviceCfg}}</h4><!--设备配置-->
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="form-group" style="margin: 20px 0px 10px 0px;">
                                            <div class="col-md-12">
                                                <!--关联设备*:-->
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{languageJson.OtherModule.ChinaunicomCfgBox.RelateDevice}}</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name = "portType" ng-model="CubDevice.equipId" ng-change="changeCubDevice(CubDevice.equipId)">
                                                            <option value="{{row.id}}" ng-repeat="row in devices"
                                                                    ng-selected="{{row.id==CubDevice.equipId}}">{{row.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--设备ID*:-->
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{languageJson.OtherModule.ChinaunicomCfgBox.DeviceIds}}</label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" placeholder="" type="text" ng-model="CubDevice.deviceId" />
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-primary" ng-click="createCubDeviceIDClick()">{{languageJson.OtherModule.ChinaunicomCfgBox.CreateId}}</button><!--生成ID *-->
                                                    </div>
                                                </div>
                                                <!--设备资管ID*:-->
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{languageJson.OtherModule.ChinaunicomCfgBox.DeviceRIds}}</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" placeholder="" type="text" ng-model="CubDevice.deviceRId" />
                                                    </div>
                                                </div>
                                                <!--设备名称*:-->
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">{{languageJson.OtherModule.ChinaunicomCfgBox.DeviceNames}}</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" placeholder="" type="text" ng-model="CubDevice.deviceName" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        ng-click="saveCubDeviceConfig()">{{CubDeviceType == "insert"?languageJson.OtherModule.ChinaunicomCfgBox.Add:languageJson.OtherModule.ChinaunicomCfgBox.Save}}</button><!--"新增" "保存" -->
                <button type="button" class="btn btn-default" ng-click="$hide()">{{languageJson.OtherModule.ChinaunicomCfgBox.Close}}</button><!--关闭-->
            </div>
        </div>
    </div>
</div>