<div class="container-fluid" ng-controller="ConfigCtrl" id = "rollBtn_top">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{languageJson.Config.Head}} > {{languageJson.Config.Headle}}<!--配置  > 配偶管理-->
                <i class="fa fa-question-circle fw fa-img" ng-click="helpNotesClk('01',3)"></i>
                <button type="button" class="btn btn-primary right return-btn" onclick="window.location.href='#/setting'"><i class="fa fa-reply"></i> {{languageJson.Login.Return}}</button>
            </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
    <spinner show="loading" tip="{{languageJson.Loading}}"></spinner><!--配置中-->
	<!-- /.row -->
	<div class="panel-body config_tab_list" ng-init="tab=1;tabs=1">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="tab" ng-class="{active:tab==1}">
				<a href ng-click="tab = 1">{{languageJson.Config.Title}}</a><!--设备信息管理-->
			</li>
			<li class="tab" ng-class="{active:tab==2}">
				<a href ng-click="tab = 2">{{languageJson.Config.Station}}</a><!--局站信息管理-->
			</li>
			<li class="tab" ng-class="{active:tab==3}">
				<a href ng-click="tab = 3">{{languageJson.Config.Central}}</a><!--中心信息管理-->
			</li>
			<li class="tab" ng-class="{active:tab==4}">
				<a href ng-click="tab = 4">{{languageJson.Config.Manage}}</a><!--模板管理-->
			</li>
		</ul>

		<div class="tab-content tab-pane" ng-show="tab==1">
			<div class="tabs-below">
				<br>
				<p>
					<button class="btn btn-default btn-primary" ng-click="addEquipmentClick()">{{languageJson.Config.Config.Equipment}}</button><!--新增设备-->
					<button class="btn btn-default btn-primary" ng-click="addIOEquipmentClick()">{{languageJson.Config.Config.IoEquipment}}</button><!--新增IO设备-->
                    <button class="btn btn-default btn-primary" ng-click="addHostEquipmentClick()">{{languageJson.Config.Config.HostEquipment}}</button><!--新增自诊断设备-->
					<button class="btn btn-default btn-warning" ng-click="reLoadEquipmentConfigClick()">{{languageJson.Config.Config.Effect}}</button><!--配置生效-->
                    <!--&nbsp;&nbsp;
                    <button class="btn btn-default btn-primary" ng-click="configureMold()">组态页面配置</button>-->
				</p>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
                    {{languageJson.Config.Config.List}}<!--设备信息列表-->
				</div>
				<div class="panel-body white_table_bottom">
					<table ng-table="demo.tableParams" class="table table-condensed table-bordered table-striped">
						<tr ng-repeat="row in paginationConf.equipments | orderBy:'UpdateTime':true">
							<td data-title="languageJson.Config.Config.ListID" filter="{EquipmentId: 'number'}" align="center">{{row.EquipmentId}}</td>
							<td data-title="languageJson.Config.Config.ListName" filter="{EquipmentName: 'text'}" align="center">{{row.EquipmentName}}</td>
							<td data-title="languageJson.Config.Config.SO" filter="{EquipmentName: 'text'}" align="center">{{row.DllPath}}</td>
							<td class="center" data-title="languageJson.Config.Config.Site" filter="{Address: 'number'}" align="center">{{row.Address}}</td>
							<td class="center" data-title="languageJson.Config.Config.Port" filter="{PortNo: 'text'}" align="center">{{row.PortNo}}</td>
							<td data-title="languageJson.Config.Config.Parameters" filter="{Setting: 'text'}" align="center">{{row.Setting}}</td>
							<td data-title="languageJson.Config.Config.Manufacturer" filter="{Vendor: 'text'}" align="center">{{row.Vendor}}</td>
							<!--<td class="center" data-title="'查看详情'">
								<button type="button" class="btn btn-sm btn-info" ng-click="viewEquipmentClick(row.EquipmentId)">查看详情</button>
							</td>-->
							<td class="center" data-title="languageJson.Config.Config.Operation" align="center">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="updateEquipmentClick(row)">{{languageJson.Config.Config.Modify}}</button><!--修改-->
								<button type="button" class="btn btn-sm btn-danger"  ng-click="removeEquipmentClick(row.EquipmentId, row.EquipmentName, row.SamplerUnitId)">{{languageJson.Config.Config.Delete}}</button><!--删除-->
							</td>
						</tr>
					</table>
					<tm-Pagination conf="paginationConf"></tm-Pagination>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<div class="tab-content tab-pane" ng-show="tab==2">
			<div class="tabs-below">
				<br>
				<p>
				</p>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form role="form">
								<button class="btn btn-default btn-primary" ng-click="saveStationConfigClick()">{{languageJson.Config.Stations.Save}} & {{languageJson.Config.Stations.Config}}</button><!--保存-->
								<button class="btn btn-default" ng-click="resetStationConfigClick()"  >{{languageJson.Config.Stations.Reset}}</button><!--重置-->
                                <!--<button class="btn btn-default btn-warning" ng-click="reLoadEquipmentConfigClick()">{{languageJson.Config.Stations.Config}}</button>--><!--配置生效-->
								<br>
								<br>
								<div class="form-group">
									<div class="form-group">
										<label>{{languageJson.Config.Stations.Name}}</label><!--局站名称-->
										<input id="stationName" class="form-control" name="stationName" type="text" ng-model="station.stationName">
									</div>
									<div class="form-group">
										<label>{{languageJson.Config.Stations.Webmaster}}</label><!--局站管理员-->
										<select id="contactMan" class="form-control"  name="contactMan" ng-model="station.employee" ng-change="contactManChange(station.employee.EmployeeId)" ng-options="employees.EmployeeName for employees in employees">
										</select>
										<!--<input  id="contactMan" class="form-control" name="contactMan" type="text" ng-model="station.contactMan">-->
									</div>
									<div class="form-group">
										<label>{{languageJson.Config.Stations.Number}}</label><!--联系电话 :-->
										<input  id="contactMobile" class="form-control" name="contactMobile" type="text" ng-model="station.employee.Mobile" ng-readonly="true">
									</div>
                                    <div class="form-group">
                                        <label>{{languageJson.Config.Stations.Mailbox}}</label><!--邮箱 :-->
                                        <input  id="contactEmail" class="form-control" name="contactEmail" type="text" ng-model="station.employee.Email" ng-readonly="true">
                                    </div>
									<div class="form-group">
										<label>{{languageJson.Config.Stations.Remarks}}</label><!--备注 :-->
										<textarea id="remark" class="form-control" name="remark" type="text" rows="10" ng-model="station.remark"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-content tab-pane center-config" ng-show="tab==3">
			<div class="tabs-below">
				<br>
				<p>
				</p>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form role="form">
								<button class="btn btn-default btn-primary" ng-click="saveCenterConfigClick()">{{languageJson.Config.Room.Save}} & {{languageJson.Config.Room.Config}}</button><!--保存-->
								<button class="btn btn-default" ng-click="resetCenterConfigClick()">{{languageJson.Config.Room.Reset}}</button><!--重置-->
                                <!--<button class="btn btn-default btn-warning" ng-click="reLoadEquipmentConfigClick()">{{languageJson.Config.Room.Config}}</button>--><!--配置生效-->
								<br>
								<br>
								<div class="form-group">
									<div class="form-group">
										<label>{{languageJson.Config.Room.IP}}</label><!--中心IP地址 :-->
										<input id="centerIP" class="form-control" name="centerIP" type="text" ng-model="center.centerIP">
									</div>
									<div class="form-group">
										<label>{{languageJson.Config.Room.Port}}</label><!--中心端口 :-->
										<input id="centerPort" class="form-control" name="centerPort" type="text" ng-model="center.centerPort">
									</div>
									<div class="form-group">
										<label>{{languageJson.Config.Room.DataBase}}</label><!--数据服务器IP地址 :-->
										<input id="centerDSIP" class="form-control" name="centerDSIP" type="text" ng-model="center.centerDSIP">
									</div>
                                    <!--是否将配置同步到中心 ?-->
									<div class="form-group">
										<input type="checkbox" name="Enable" ng-click="selectEnable()" ng-model="center.Enable" />
                                        {{languageJson.Config.Room.Whether}}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-content tab-pane" ng-show="tab==4" ng-init="initEvent()">
			<div class="tabs-below col-md-12" style="height: 6vh;">
				<div>
					<div class="form-group">
						<label class="control-label col-md-2" style="line-height: 30px;width: 150px;">{{languageJson.Config.Template.Template}}
                            <i class="fa fa-question-circle fw fa-img" ng-click="helpNotesClk('02',1)" style="font-size: 20px;"></i>
                        </label><!--设备模板 :-->
						<div class="col-md-3" >
							<select class="form-control" name = "portType" ng-model="selectEvent.EquipmentTemplateId">
								<option value="{{row.EquipmentTemplateId}}" ng-repeat="row in equipmentTemplates"
										ng-selected="{{row.EquipmentTemplateId==equipmentTemplates[0].EquipmentTemplateId}}">{{row.EquipmentTemplateName}}</option>
							</select>
						</div>
                        <div class="col-md-3" style="padding: 0px;">
                            <button type="button" class="btn btn-primary" ng-click="selectEventClick()">{{languageJson.Config.Template.Query}}</button><!--查询-->
							<button type="button" class="btn btn-primary" ng-click="UpdateEquipmentTemplateClick()">{{languageJson.Config.Template.Modify}}</button><!--修改-->
                            <button type="button" class="btn btn-warning" ng-click="ExportProtocol(selectEvent.EquipmentTemplateId)">导出协议</button>
                        </div>
                        <div class="col-md-1" style="padding: 0px;">
                            <button class="btn btn-default btn-warning" ng-click="reLoadEquipmentConfigClick()">{{languageJson.Config.Template.Config}}</button><!--配置生效-->
                        </div>
					</div>
				</div>
			</div>
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" style="margin-top: 60px;">
                    <li class="tabs" ng-class="{active:tabs==1}">
                        <a href ng-click="tabs = 1">{{languageJson.Config.Template.Signal}}</a><!--信号管理-->
                    </li>
                    <li class="tabs" ng-class="{active:tabs==2}">
                        <a href ng-click="tabs = 2">{{languageJson.Config.Template.Practice}}</a><!--实践管理-->
                    </li>
                    <li class="tabs" ng-class="{active:tabs==3}">
                        <a href ng-click="tabs = 3">{{languageJson.Config.Template.Control}}</a><!--控制管理-->
                    </li>
                </ul>
                <div class="tab-content tab-pane" ng-show="tabs==1">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height: 55px;line-height: 35px;">
                            {{languageJson.Config.Template.List}}<!--信号列表-->
                            <button type="button" class="btn btn-primary right" ng-click="AddSignal()" style="margin-right: 20px;">{{languageJson.Config.Template.Signals}}</button><!--新增信号-->
                        </div>
                        <div class="panel-body timeGroupCheck white_table_bottom">
                            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-hover">
                                <thead class="ng-scope">
                                <tr class="ng-table-sort-header">
                                    <th class="header pointer SignalId" ng-click="SortBy('SignalId')">{{languageJson.Config.Template.ID}}<i class="fa fa-chevron-down right" style="line-height: 20px;"></i></th><!--编号-->
                                    <th class="header pointer SignalName" ng-click="SortBy('SignalName')">{{languageJson.Config.Template.Name}}<i class="fa right" style="line-height: 20px;"></i></th><!--名称-->
                                    <th class="header pointer SignalCategory" ng-click="SortBy('SignalCategory')">{{languageJson.Config.Template.Type}}<i class="fa right" style="line-height: 20px;"></i></th><!--种类-->
                                    <th class="header pointer ChannelNo" ng-click="SortByChannelNo('ChannelNo')">{{languageJson.Config.Template.Channel}}<i class="fa right" style="line-height: 20px;"></i></th><!--通道号-->
                                    <!--<th class="header pointer ChannelType" ng-click="SortBy('ChannelType')">{{languageJson.Config.Template.Channeltype}}<i class="fa right" style="line-height: 20px;"></i></th>&lt;!&ndash;通道类型&ndash;&gt;-->
                                    <th class="header pointer DataType" ng-click="SortBy('DataType')">{{languageJson.Config.Template.Data}}<i class="fa right" style="line-height: 20px;"></i></th><!--数据类型-->
                                    <th class="header pointer StoreInterval" ng-click="SortBy('StoreInterval')">{{languageJson.Config.Template.Cycle}}<i class="fa right" style="line-height: 20px;"></i></th><!--存储周期(秒)-->
                                    <th class="header pointer AbsValueThreshold" ng-click="SortBy('AbsValueThreshold')">{{languageJson.Config.Template.Abs}}<i class="fa right" style="line-height: 20px;"></i></th><!--绝对值阀值-->
                                    <th class="header pointer BaseTypeId" ng-click="SortBy('BaseTypeId')">{{languageJson.Config.Template.Base}}<i class="fa right" style="line-height: 20px;"></i></th><!--基类信号-->
                                    <!--<th class="header pointer IsOpen" ng-click="SortBy('IsOpen')">是否开放<i class="fa right" style="line-height: 20px;"></i></th>-->
                                    <th class="header" style="width: 160px;">{{languageJson.Config.Template.Operation}}</th><!--操作-->
                                </tr>
                                </thead>
                                <tr>
                                    <td align="center"><input type="text" class="form-control" ng-model="SignalId" /></td>
                                    <td align="center"><input type="text" class="form-control" ng-model="SignalName" /></td>
                                    <td align="center">
                                        <select class="form-control" name = "portType" ng-model="SignalCategory">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Signal.SignalCategory">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td align="center"><input type="text" class="form-control" ng-model="ChannelNo" /></td>
                                    <!--<td align="center">
                                        <select class="form-control" name = "portType" ng-model="ChannelType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option>&lt;!&ndash;全部&ndash;&gt;
                                            <option value="{{row.ItemId}}" ng-repeat="row in Signal.ChannelType">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>-->
                                    <td align="center">
                                        <select class="form-control" name = "portType" ng-model="DataType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Signal.DataType">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td align="center"><input type="text" class="form-control" ng-model="StoreInterval" /></td>
                                    <td align="center"><input type="text" class="form-control" ng-model="AbsValueThreshold" /></td>
                                    <td align="center"><input type="text" class="form-control" ng-model="BaseTypeId" /></td>
                                    <!--<td align="center">
                                        <select class="form-control" name = "portType" ng-model="IsOpen">
                                            <option value selected>全部</option>
                                            <option value="true">是</option>
                                            <option value="false">否</option>
                                        </select>
                                    </td>-->
                                    <td align="center"><!--<input type="text" class="form-control"/>--></td>
                                </tr>
                                <tr ng-repeat="row in SignalList | filter:{SignalId:SignalId,SignalName:SignalName,SignalCategory:SignalCategory,
                                    ChannelNo:ChannelNo,ChannelType:ChannelType,DataType:DataType,StoreInterval:StoreInterval,AbsValueThreshold:AbsValueThreshold,
                                    BaseTypeId:BaseTypeId,IsOpen:IsOpen} | orderBy : sortingOrder : reverse">
                                    <td align="center">{{row.SignalId}}</td>
                                    <td align="center">{{row.SignalName}}</td>
                                    <td align="center">{{row.SignalCategoryName}}</td>
                                    <td align="center">{{row.ChannelNo}}</td>
                                    <!--<td align="center">{{row.ChannelTypeName}}</td>-->
                                    <td align="center">{{row.DataTypeName}}</td>
                                    <td align="center">{{row.StoreInterval}}</td>
                                    <td align="center">{{row.AbsValueThreshold}}</td>
                                    <td align="center">{{row.BaseTypeId}}</td>
                                    <!--<td align="center"><label><input type="checkbox" ng-model="row.IsOpen" disabled><i>√</i></label></td>-->
                                    <td class="center" align="center">
                                        <button type="button" class="btn btn-sm btn-primary"  ng-click="updateSignalClick(row)">{{languageJson.Config.Config.Modify}}</button><!--修改-->
                                        &nbsp;&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger"  ng-click="deleteSignalClick(row)">{{languageJson.Config.Config.Delete}}</button><!--删除-->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-pane" ng-show="tabs==2">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height: 55px;line-height: 35px;">
                            {{languageJson.Config.Events.Event}}<!--事件列表-->
                            <button type="button" class="btn btn-primary right" ng-click="AddEvent()">{{languageJson.Config.Events.Add}}</button><!--新增控制-->
                            <button type="button" class="btn btn-primary right" style="margin-right: 20px;" ng-click="ShieldEvent()">{{languageJson.Config.Events.ShieldStatus}}</button><!-- 屏蔽状态 -->
                        </div>
                        <div class="panel-body timeGroupCheck white_table_bottom">
                            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-hover">
                                <thead class="ng-scope">
                                <tr class="ng-table-sort-header">
                                    <th class="header pointer EventId" ng-click="SortBy('EventId')">{{languageJson.Config.Events.ID}}<i class="fa fa-chevron-down right" style="line-height: 20px;"></i></th><!--编号-->
                                    <th class="header pointer EventName" ng-click="SortBy('EventName')">{{languageJson.Config.Events.Name}}<i class="fa right" style="line-height: 20px;"></i></th><!--名称-->
                                    <th class="header pointer EventCategory" ng-click="SortBy('EventCategory')">{{languageJson.Config.Events.Category}}<i class="fa right" style="line-height: 20px;"></i></th><!--类别-->
                                    <th class="header pointer StartType" ng-click="SortBy('StartType')">{{languageJson.Config.Events.Start}}<i class="fa right" style="line-height: 20px;"></i></th><!--开始类型-->
                                    <!--<th class="header pointer EndType" ng-click="SortBy('EndType')">{{languageJson.Config.Events.End}}<i class="fa right" style="line-height: 20px;"></i></th>&lt;!&ndash;结束类型&ndash;&gt;-->
                                    <th class="header pointer EventSeverity" ng-click="SortBy('EventSeverity')">{{languageJson.Config.Events.Level}}<i class="fa right" style="line-height: 20px;"></i></th><!--事件等级组-->
                                    <th class="header pointer StartExpression" ng-click="SortBy('StartExpression')">{{languageJson.Config.Events.Expression}}<i class="fa right" style="line-height: 20px;"></i></th><!--开始表达式-->
                                    <th class="header pointer SignalId" ng-click="SortBy('SignalId')">{{languageJson.Config.Events.Associated}}<i class="fa right" style="line-height: 20px;"></i></th><!--关联信号-->
                                    <!--<th class="header pointer IsOpen" ng-click="SortBy('IsOpen')">是否开放<i class="fa right" style="line-height: 20px;"></i></th>-->
                                    <th class="header" style="width: 160px;">{{languageJson.Config.Events.Operation}}</th><!--操作-->
                                </tr>
                                </thead>
                                <tr>
                                    <td align="center"><input type="text" class="form-control" ng-model="EventId" /></td>
                                    <td align="center"><input type="text" class="form-control" ng-model="EventName" /></td>
                                    <td align="center">
                                        <select class="form-control" name = "portType" ng-model="EventCategory">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Event.EventCategory">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td align="center">
                                        <select class="form-control" name = "portType" ng-model="StartType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Event.StartType">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <!--<td align="center">
                                        <select class="form-control" name = "portType" ng-model="EndType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option>&lt;!&ndash;全部&ndash;&gt;
                                            <option value="{{row.ItemId}}" ng-repeat="row in Event.EndType">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>-->
                                    <td  align="center">
                                        <select class="form-control" name = "portType" ng-model="EventSeverity">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Event.EventSeverity">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td align="center"><input type="text" class="form-control" ng-model="StartExpression" /></td>
                                    <td align="center"><input type="text" class="form-control" ng-model="SignalId" /></td>
                                    <!--<td align="center">
                                        <select class="form-control" name = "portType" ng-model="IsOpen">
                                            <option value selected>全部</option>
                                            <option value="true">是</option>
                                            <option value="false">否</option>
                                        </select>
                                    </td>-->
                                    <td align="center"><!--<input type="text" class="form-control"/>--></td>
                                </tr>
                                <tr ng-repeat="row in EventList | filter:{EventId:EventId,EventName:EventName,EventCategory:EventCategory,
                                    StartType:StartType,EndType:EndType,EventSeverity:EventSeverity,StartExpression:StartExpression,
                                    SignalId:SignalId,IsOpen:IsOpen} | orderBy : sortingOrder : reverse">
                                    <td align="center">{{row.EventId}}</td>
                                    <td align="center">{{row.EventName}}</td>
                                    <td align="center">{{row.EventCategoryName}}</td>
                                    <td align="center">{{row.StartTypeName}}</td>
                                    <!--<td align="center">{{row.EndTypeName}}</td>-->
                                    <td align="center">{{row.EventSeverityName}}</td>
                                    <td align="center">{{row.StartExpression}}</td>
                                    <td align="center">{{row.SignalName}}</td>
                                    <!--<td align="center"><label><input type="checkbox" ng-model="row.IsOpen" disabled><i>√</i></label>-->
                                    <td class="center" align="center">
                                        <button type="button"
                                                class="btn btn-sm btn-primary"  ng-click="updateEventClick(row)">{{languageJson.Config.Config.Modify}}</button><!--修改-->
                                        &nbsp;&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger"  ng-click="deleteEventClick(row)">{{languageJson.Config.Config.Delete}}</button><!--删除-->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-pane" ng-show="tabs==3">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height: 55px;line-height: 35px;">
                            {{languageJson.Config.Control.Control}}<!--控制列表-->
                            <button type="button" class="btn btn-primary right" ng-click="AddControl()">{{languageJson.Config.Control.Add}}</button><!--新增控制-->
                        </div>
                        <div class="panel-body timeGroupCheck white_table_bottom">
                            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-hover">
                                <thead class="ng-scope">
                                <tr class="ng-table-sort-header">
                                    <th class="header pointer ControlId" ng-click="SortBy('ControlId')">{{languageJson.Config.Control.ID}}<i class="fa fa-chevron-down right" style="line-height: 20px;"></i></th><!--编号-->
                                    <th class="header pointer ControlName" ng-click="SortBy('ControlName')">{{languageJson.Config.Control.Name}}<i class="fa right" style="line-height: 20px;"></i></th><!--名称-->
                                    <th class="header pointer ControlCategory" ng-click="SortBy('ControlCategory')">{{languageJson.Config.Control.Command}}<i class="fa right" style="line-height: 20px;"></i></th><!--命令种类-->
                                    <!--<th class="header pointer ControlSeverity" ng-click="SortBy('ControlSeverity')">{{languageJson.Config.Control.Importance}}<i class="fa right" style="line-height: 20px;"></i></th>&lt;!&ndash;重要度&ndash;&gt;-->
                                    <th class="header pointer CmdToken" ng-click="SortBy('CmdToken')">{{languageJson.Config.Control.String}}<i class="fa right" style="line-height: 20px;"></i></th><!--命令字符串-->
                                    <th class="header pointer CommandType" ng-click="SortBy('CommandType')">{{languageJson.Config.Control.Type}}<i class="fa right" style="line-height: 20px;"></i></th><!--命令类型-->
                                    <th class="header pointer ControlType" ng-click="SortBy('ControlType')">{{languageJson.Config.Control.Class}}<i class="fa right" style="line-height: 20px;"></i></th><!--控件分类-->
                                    <th class="header pointer DataType" ng-click="SortBy('DataType')">{{languageJson.Config.Control.Data}}<i class="fa right" style="line-height: 20px;"></i></th><!--数据类型-->
                                    <th class="header pointer SignalId" ng-click="SortBy('SignalId')">{{languageJson.Config.Control.Signal}}<i class="fa right" style="line-height: 20px;"></i></th><!--关联信号-->
                                    <th class="header pointer Meanings" ng-click="SortBy('Meanings')">{{languageJson.Config.Control.Meaning}}<i class="fa right" style="line-height: 20px;"></i></th><!--参数含义-->
                                    <!--<th class="header pointer IsOpen" ng-click="SortBy('IsOpen')">是否开放<i class="fa right" style="line-height: 20px;"></i></th>-->
                                    <th class="header" style="width: 160px;">{{languageJson.Config.Control.Operation}}</th><!--操作-->
                                </tr>
                                </thead>
                                <tr>
                                    <td data-title="languageJson.Config.Control.ID" align="center"><input type="text" class="form-control" ng-model="ControlId" /></td><!--编号-->
                                    <td data-title="languageJson.Config.Control.Name" align="center"><input type="text" class="form-control" ng-model="ControlName" /></td><!--名称-->
                                    <td data-title="languageJson.Config.Control.Command" align="center"><!--'命令种类'-->
                                        <select class="form-control" name = "portType" ng-model="ControlCategory">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Control.ControlCategory">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <!--<td data-title="languageJson.Config.Control.Importance" align="center">&lt;!&ndash;'重要度'&ndash;&gt;
                                        <select class="form-control" name = "portType" ng-model="ControlSeverity">
                                            <option value selected>{{languageJson.Config.Config.All}}</option>&lt;!&ndash;全部&ndash;&gt;
                                            <option value="{{row.ItemId}}" ng-repeat="row in Control.ControlSeverity">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>-->
                                    <td data-title="languageJson.Config.Control.String" align="center"><input type="text" class="form-control" ng-model="CmdToken" /></td><!--命令字符串-->
                                    <td data-title="languageJson.Config.Control.Type" align="center"><!--命令类型-->
                                        <select class="form-control" name = "portType" ng-model="CommandType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Control.CommandType" ng-hide="row.ItemId == 3">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td data-title="languageJson.Config.Control.Class" align="center"><!--控件分类'-->
                                        <select class="form-control" name = "portType" ng-model="ControlType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Control.ControlType">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td data-title="languageJson.Config.Control.Data" align="center"><!--数据类型-->
                                        <select class="form-control" name = "portType" ng-model="DataType">
                                            <option value selected>{{languageJson.Config.Config.All}}</option><!--全部-->
                                            <option value="{{row.ItemId}}" ng-repeat="row in Control.DataType">{{languageJson.Language == 'English' ? row.ItemAlias : row.ItemValue}}</option>
                                        </select>
                                    </td>
                                    <td data-title="languageJson.Config.Control.Signal" align="center"><input type="text" class="form-control" ng-model="SignalId" /></td><!--关联信号-->
                                    <td data-title="languageJson.Config.Control.Meaning" align="center"><input type="text" class="form-control" ng-model="Meanings" /></td><!--参数含义-->
                                    <!--<td data-title="'是否开放'" align="center">
                                        <select class="form-control" name = "portType" ng-model="IsOpen">
                                            <option value selected>全部</option>
                                            <option value="true">是</option>
                                            <option value="false">否</option>
                                        </select>
                                    </td>-->
                                    <td class="center" data-title="languageJson.Config.Template.Operation" align="center"><!--<input type="text" class="form-control"/>--></td><!--'操作'-->
                                </tr>
                                <tr ng-repeat="row in ControlList | filter:{ControlId:ControlId,ControlName:ControlName,ControlCategory:ControlCategory,
                                    ControlSeverity:ControlSeverity,CmdToken:CmdToken,CommandType:CommandType,ControlType:ControlType,DataType:DataType,
                                    SignalId:SignalId,Meanings:Meanings,IsOpen:IsOpen} | orderBy : sortingOrder : reverse">
                                    <td align="center">{{row.ControlId}}</td>
                                    <td align="center">{{row.ControlName}}</td>
                                    <td align="center">{{row.ControlCategoryName}}</td>
                                    <!--<td align="center">{{row.ControlSeverityName}}</td>-->
                                    <td align="center">{{row.CmdToken}}</td>
                                    <td align="center">{{row.CommandTypeName}}</td>
                                    <td align="center">{{row.ControlTypeName}}</td>
                                    <td align="center">{{row.DataTypeName}}</td>
                                    <td align="center">{{row.SignalName}}</td>
                                    <td align="center">{{row.Meanings}}</td>
                                    <!--<td align="center"><label><input type="checkbox" ng-model="row.IsOpen" disabled><i>√</i></label>-->
                                    <td class="center" align="center">
                                        <button type="button"
                                                class="btn btn-sm btn-primary"  ng-click="updateControlClick(row)">{{languageJson.Config.Config.Modify}}<!--修改--></button>
                                        &nbsp;&nbsp;
                                        <button type="button" class="btn btn-sm btn-danger"  ng-click="deleteControlClick(row)">{{languageJson.Config.Config.Delete}}<!--删除--></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div align="right" id = "rollBtn" Stick-Click="'#rollBtn_top'" title = {{languageJson.Config.Config.Back}}><span class="fa fa-arrow-circle-up" style = "font-size: 50px"></span></div><!--"回到顶部"-->
		</div>

	</div>

</div>