<div class="container-fluid" ng-controller="ConfigMdcCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header left">{{languageJson.Micromodule.Config}} > {{configMdc.titleName}} {{languageJson.Micromodule.Configuration}}</h1><!--配置 > {{configMdc.titleName}}微模块配置-->
            <div class="page-header right" style="padding-right: 1.5vw;">
                <!--<button type="button" class="btn btn-primary" ng-click="showConfigMdc()">修改微模块配置</button>-->
                &nbsp;&nbsp;
                <button class="btn btn-default btn-warning" ng-click="reLoadEquipmentConfigClick()">{{languageJson.Micromodule.Configs}}</button><!--配置生效-->
                <button type="button" class="btn btn-primary right return-btn" onclick="window.location.href='#/setting'"><i class="fa fa-reply"></i> {{languageJson.Login.Return}}</button>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div id="AlarmRoot" style="height: 100%">
        <div class="config_mdc_marked">{{languageJson.Micromodule.Click}}</div><!--提示：点击机柜/水浸线/门/冷通道方格进入配置页面-->
        <div class="root-cheek cabinet_body">
            <div class="water">
                <div id="water1" hidden class="button position1 normal" ng-click="signalClk('水浸1','1004','water1',otherSignals.water1)" style="display: block;z-index:1;">
                    <input type="hidden" ng-model="cabinet.water1" />
                </div>
                <div id="water2" hidden class="button position2 normal" ng-click="signalClk('水浸2','1004','water2',otherSignals.water2)" style="display: block;z-index:1;">
                    <input type="hidden" ng-model="cabinet.water2" />
                </div>
            </div>
            <!-- 机柜 -->
            <div id="MdcCabinet">
                <div class="cabinet-box" ng-mouseenter="cabinetMouseenter()" ng-mouseleave="cabinetMouseleave()">
                    <div class="cabinet">
                        <table style="margin: 0px auto;">
                            <tr class="door">
                                <td rowspan="4" style="width: 24px;"><div class="door1 normal  right" ng-click="signalClk('门1','1004|1001','door1',otherSignals.door1)">
                                    <input type="hidden" ng-model="cabinet.door1" />
                                </div></td>
                                <td colspan="16"></td>
                                <td rowspan="4" style="width: 24px;"><div class="door2 normal left" ng-click="signalClk('门2','1004|1001','door2',otherSignals.door2)">
                                    <input type="hidden" ng-model="cabinet.door2" />
                                </div></td>
                            </tr>
                            <tr id="mdc-alarm-tr1" class="device"></tr>
                            <tr>
                                <td colspan="16">
                                    <div id="skyFalling" class="corridor normal Mdc_Aisle" style="display: block;">
                                        <table id="AisleTable" class="cabinet-aisle-table">
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr id="mdc-alarm-tr2" class="device"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>