<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">协议调测</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					设备列表
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
							<tr>
								<th>设备名称</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>开关电源(艾默生PSM-15A)</td>
							</tr>
							<tr>
								<td>智能电表(雅达YD2015)</td>
							</tr>
							<tr>
								<td>普通空调(RS816D)</td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							<tr>
								<td>&nbsp; </td>
							</tr>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
		<div class="col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					调测区域
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form role="form">
								<button type="submit" class="btn btn-default">开始</button>
								<button type="reset" class="btn btn-default">导出</button>
								<br>
								<br>
								<div class="form-group">
									<div class="form-group">
										<label>输出结果:</label>
										<textarea id="remark" class="form-control" name="remark" type="text" value="" rows="30"></textarea>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
</div>