<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content am-modal-dialog">
            <div class="modal-header" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
                <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">{{languageJson.Configuration.PromptBox.Title}}</h4><!--提示-->
            </div>
            <div class="modal-body center-block">
                {{languageJson.Configuration.PromptBox.Prompt}}
            </div><!--您是否要删除该控件?-->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">{{languageJson.Configuration.PromptBox.Yes}}</button><!--是-->
                <button type="button" class="btn btn-default" ng-click="$hide()">{{languageJson.Configuration.PromptBox.No}}</button><!--否-->
            </div>
        </div>
    </div>
</div>