<div class="panel panel-primary" dragger resizer>
    <div class="panel-heading diagram-ele-head" title="{{languageJson.Configuration.ImageSignalControl.UpdTitle}}"><!--环境量控件-->

        <a class="pull-left grahico" setparttop  title="{{languageJson.Configuration.Control.Top}}"><!--置顶-->
            <i class="fa fa-eject" ></i></a>

        <a class="pull-right grahico" deletepartsetter title="{{languageJson.Configuration.Control.Delete}}"><!--删除-->
            <i class="fa fa-times" ></i></a>

        <a class="pull-right grahico" imagesignalsetter  title="{{languageJson.Configuration.Control.Setter}}" ><!--设置-->
            <i class="fa fa-wrench" ></i></a>
    </div>
    <div class="panel-body filled image-signal-body" style="height:calc(100% - 19px);">
       <div  style="background-size:100% 100% !important; height: 100%;  border-radius: 10px;" >
        <table class="filled body_transparent">
           <tr>
               <td rowspan="2" class="diagram-sigimg-img-td" >
                   <div class="diagram-sigimg-img lead" >
                        <img styles="width:100%; height:auto;" />
                   </div>
               </td>
               <td valign="bottom" class="diagram-sigimg-title-td">
                   <div  class="diagram-sigimg-title">
                       <strong></strong>
                   </div>
               </td>
           </tr>
           <tr>
               <td align="center" class="diagram-sigimg-value-td">
                   <div class="diagram-sigimg-value"></div>
               </td>
           </tr>
       </table>
       </div>
    </div>
</div>