<div class="panel panel-primary" dragger resizer>
    <div class="panel-heading diagram-ele-head" title="{{languageJson.Configuration.TextControl.UpdTitle}}"><!--文本控件-->

        <a class="pull-left grahico" setparttop  title="{{languageJson.Configuration.Control.Top}}"><!--置顶-->
            <i class="fa fa-eject" ></i></a>

        <a class="pull-right grahico" deletepartsetter title="{{languageJson.Configuration.Control.Delete}}"><!--删除-->
            <i class="fa fa-times" ></i></a>

        <a class="pull-right grahico" labelpartsetter  title="{{languageJson.Configuration.Control.Setter}}"><!--设置-->
            <i class="fa fa-wrench" ></i></a>
    </div>
    <div class="panel-body" style="background-size:100% 100% !important; height:calc(100% - 19px);">
       <table style="width: 100%; height: 100%" class="body_transparent">
           <tr>
               <td style="vertical-align: middle; text-align: center;"> </td>
           </tr>
       </table>
    </div>
</div>