<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content am-modal-dialog">
            <div class="modal-header" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
                <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">{{languageJson.Configuration.SignalControl.SignalList}}</h4><!--信号列表-->
            </div>

            <div class="div_body">
                <div class="modal-body scroll-easy" style="max-height: 440px;">
                    <table class="table transparency_bg modify-signal-table">
                        <thead>
                        <tr>
                            <th>{{languageJson.Configuration.SignalControl.ID}}</th><!--编号-->
                            <th>{{languageJson.Configuration.SignalControl.SignalName}}</th><!--信号名称-->
                            <th>{{languageJson.Configuration.SignalControl.DisplayName}}</th><!--显示名称-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in modifySelects">
                            <td>{{item.baseTypeId}}</td>
                            <td>{{item.baseTypeName}}</td>
                            <td><input id="{{item.baseTypeId}}" class="modify-value" type="text" class="form-control" value="{{item.baseTypeName}}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="modify()">{{languageJson.Configuration.SignalControl.Modify}}</button><!--修改-->
            </div>
        </div>
    </div>
</div>