<div class="panel panel-primary" dragger resizer>
    <div class="panel-heading diagram-ele-head" title="{{languageJson.Configuration.PercentControl.UpdTitle}}"><!--能量柱组态-->

        <a class="pull-left grahico" setparttop  title="{{languageJson.Configuration.Control.Top}}"><!--置顶-->
            <i class="fa fa-eject" ></i></a>

        <a class="pull-right grahico" deletepartsetter title="{{languageJson.Configuration.Control.Delete}}"><!--删除-->
            <i class="fa fa-times" ></i></a>

        <a class="pull-right grahico" percentsetter title="{{languageJson.Configuration.Control.Setter}}"><!--设置-->
            <i class="fa fa-wrench" ></i></a>
    </div>
    <div class="panel-body chart-body">
        <div style="text-align: center;" class="percent-title"></div>
        <!--<div class="progress-container" id="percent">
            <div id="percent-progress" class="percent-progress" style="height: 0%;background: #033085;"></div>
            &lt;!&ndash;<div class="progress-overlay"></div>&ndash;&gt;
            <div class="percent-equal"></div>
        </div>-->
        <div class="pie" style="width: 100%; height: calc(100% - 30px);"></div>
    </div>
</div>