<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="top: 25%;">
        <div class="modal-content am-modal-dialog">
            <div class="modal-header" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
                <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">{{languageJson.Login.License.Title}}</h4><!--注册License-->
            </div>
            <div class="modal-body center-block">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="Generate_Info" class="modal-body div_body" style="padding: 5px 42px;">
                            <h4>{{languageJson.Login.License.GenerateLicense}}</h4><!--生成机器码-->
                            <button type="button" class="btn btn-primary" ng-click="generateInfo()">{{languageJson.Login.License.GenerateLicense}}</button><!--生成机器码-->
                            <br/>
                        </div>
                        <div id="Upload_License" class="modal-body div_body" style="padding: 5px 42px;">
                            <h4>{{languageJson.Login.License.UploadLicense}}</h4><!--上传注册码-->
                            <input type="file" class="btn btn-default col-md-3" style="width: 300px;margin-right: 10px" ngfile/>
                            <button type="button" class="btn btn-primary" ng-click="uploadLicense()">{{languageJson.Login.License.UploadLicenseButton}}</button><!--上传注册文件-->
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>