<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content am-modal-dialog" id="hrPieChartId" style="width: 598px;">
            <div class="modal-header tooltip-options" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
                <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title"> {{languageJson.Configuration.SignalSettingBox.Title}}
                    <a href ><i class="fa fa-question-circle fa-fw pointer " title="<h5>信号只能是同一个设备的</h5>"></i></a>
                </h4><!--选择信号集合-->
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">{{languageJson.Configuration.SignalSettingBox.FilterEquipment}}</label><!--设备帅选:-->
                                        <div class="col-md-8">
                                            <select class="form-control" name = "portType" ng-model="Topology.DeviceId" ng-change="changeDevice(Topology.DeviceId)">
                                                <option value="{{row.equipmentId}}" ng-repeat="row in deviceList"
                                                        ng-selected="{{row.equipmentId==Topology.DeviceId}}">{{row.configName}}
                                                </option>
                                            </select>
                                        </div>
                                        <multiselect
                                                ng-model="bind.siglist" available="bind.selectedsigs"
                                                selected-label="{{languageJson.Configuration.SignalSettingBox.Optional}}" available-label="{{languageJson.Configuration.SignalSettingBox.Selected}}"
                                                display-attr="baseTypeName">
                                        </multiselect><!--可选  已选  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveMultiSelect(Topology.DeviceId,obj)">保存</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
            </div>
        </div>
    </div>
</div>
<script ng-hide="true">
    $(function () { $(".tooltip-options i").tooltip({html : true });});
</script>