<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content am-modal-dialog">
            <div class="modal-header" draggable><!-- draggable拖动事件，.am-modal-dialog拖动对象 -->
                <button type="button" class="close" ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">{{languageJson.Header.Advanced.System.Title}}</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="ControlDoor" class="panel-body">
                                        <table ng-table="demo.tableParams" class="table table-condensed table-bordered table-striped">
                                            <tr>
                                                <td data-title="languageJson.Header.Advanced.System.Command" class="td1" align="right">{{languageJson.Header.Advanced.System.Shutdown}}</td>
                                                <td data-title="languageJson.Header.Advanced.System.Explanation">{{languageJson.Header.Advanced.System.ShutdownExplanation}}</td>
                                                <td data-title="languageJson.Header.Advanced.System.Operating" align="center"><button type="button" class="btn btn-primary"  ng-click="systemControlClick('shutdown')">{{languageJson.Header.Advanced.System.Execution}}</button></td>
                                            </tr>
                                            <tr>
                                                <td class="td1" align="right">{{languageJson.Header.Advanced.System.Restart}}</td>
                                                <td>{{languageJson.Header.Advanced.System.RestartExplanation}}</td>
                                                <td align="center"><button type="button" class="btn btn-primary"  ng-click="systemControlClick('reboot')">{{languageJson.Header.Advanced.System.Execution}}</button></td>
                                            </tr>
                                            <tr>
                                                <td class="td1" align="right">{{languageJson.Header.Advanced.System.Reset}}</td><!--恢复账户-->
                                                <td>{{languageJson.Header.Advanced.System.ResetPrompt}}</td><!--恢复Telnet/FTP的默认用户名和密码。-->
                                                <td align="center"><button type="button" class="btn btn-primary"  ng-click="systemControlClick('reset')">{{languageJson.Header.Advanced.System.Execution}}</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">{{languageJson.Header.Advanced.System.Close}}</button>
            </div>
        </div>
    </div>
</div>