<div class="panel panel-primary" dragger resizer>
    <div class="panel-heading diagram-ele-head" title="{{languageJson.Configuration.TopologyControl.UpdTitle}}">

    <a class="pull-left grahico" setparttop  title="{{languageJson.Configuration.Control.Top}}"><!--置顶-->
        <i class="fa fa-eject" ></i></a>

    <a class="pull-right grahico" deletepartsetter title="{{languageJson.Configuration.Control.Delete}}"><!--删除-->
        <i class="fa fa-times" ></i></a>

    <a class="pull-right grahico" topologysetter title="{{languageJson.Configuration.Control.Setter}}"><!--设置-->
        <i class="fa fa-wrench" ></i></a>
</div>
<div class="panel-body" style="background-size:100% 100% !important; height:calc(100% - 19px);">
    <div  style="background-size:100% 100% !important; height: 100%; border-radius: 10px;" >
        <div class="topology-title" style="text-align: center;margin: 5px;">
            <strong></strong>
        </div>
        <div class="topology-img" style="background-size:100% 100% !important;background-repeat:no-repeat;" >
            <img styles="width:100%; height:auto;" />
        </div>
        <!--<table class="filled">
            <tr>
                <td align="center">
                    <div class="topology-title">
                        <strong></strong>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div class="topology-img" style="background-size:100% 100% !important;background-repeat:no-repeat;" >
                        <img styles="width:100%; height:auto;" />
                    </div>
                </td>
            </tr>
        </table>-->
    </div>
</div>
</div>