<div class="container-fluid" ng-controller="userOperationLogCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{languageJson.OperationRecord.Title}}</h1><!--历史 > 用户操作记录-->
        </div>
    </div>
    <spinner show="loading" tip="{{languageJson.Loading}}"></spinner><!--加载中-->
    <div class="row">
        <div class="col-lg-12">
            <div class="form-inline">
                <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                    <label class="control-label"><i class="fa fa-calendar"></i> {{languageJson.OperationRecord.StartTime}}</label><!--开始时间-->
                    <input type="text" class="form-control" ng-model="params.startDate" name="startDate" data-date-format="yyyy/MM/dd" bs-datepicker>
                </div>
                <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                    <label class="control-label"><i class="fa fa-calendar"></i> {{languageJson.OperationRecord.EndTime}}</label><!--结束时间-->
                    <input type="text" class="form-control" ng-model="params.endDate" name="endDate" data-date-format="yyyy/MM/dd" bs-datepicker>
                </div>
                <button class="btn btn-primary padding-bottom" ng-click="query()" >{{languageJson.OperationRecord.Query}}</button><!--查询-->
                <button class="btn btn-default padding-bottom pull-right"
                        ng-click="exportToHtml()">{{languageJson.OperationRecord.Export}}</button><!--导出-->
                <hr>
            </div>
        </div>
    </div>
    <div class="row dialog_box">
        <div class="panel-body alarm_table_body">
            <table class="table table-condensed table-bordered table-striped alarm_table table_body">
                <thead class="ng-scope">
                <tr class="ng-table-sort-header">
                    <th class="header pointer" style="text-align: center;">{{languageJson.OperationRecord.Table.LoginName}}</th><!--登录名-->
                    <th class="header pointer" style="text-align: center;">IP</th>
                    <th class="header pointer" style="text-align: center;">{{languageJson.OperationRecord.Table.Content}}</th><!--内容-->
                    <th class="header pointer" style="text-align: center;">{{languageJson.OperationRecord.Table.Time}}</th><!--时间-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td align="center"><input type="text" class="form-control" ng-model="filter.logonId" placeholder="{{languageJson.OperationRecord.Filter}}"/></td><!--输入筛选关键字-->
                    <td align="center"><input type="text" class="form-control" ng-model="filter.ip" placeholder="{{languageJson.OperationRecord.Filter}}"/></td><!--输入筛选关键字-->
                    <td align="center"><input type="text" class="form-control" ng-model="filter.content" placeholder="{{languageJson.OperationRecord.Filter}}"/></td><!--输入筛选关键字-->
                    <td align="center"></td>
                </tr>
                <tr ng-repeat="row in tableParams.list">
                    <td align="center">{{row.logonId}}</td>
                    <td align="center">{{row.ip}}</td>
                    <td align="center">{{row.content}}</td>
                    <td align="center">{{row.starTime}}</td>
                </tr>
                </tbody>
            </table>
            <!-- 使用方法请参照Directives.js => tablePaging -->
            <table-Paging table-Param="tableParams" filter-Param="filter"></table-Paging>
        </div>
    </div>
</div>