<div class="panel-primary" partid="[id]" style="position: absolute; left: [left]px; top: [top]px; width: [width]px; height: [height]px; z-index: [zindex];">
    <div class="panel-body filled device-status-body">
        <div style="background-size:100% 100% !important; height: 100%;">
            <table class="filled body_transparent" style="cursor: pointer;" ng-click="skipDevice()">
                <tbody><tr>
                    <td align="right">
                        <div class="status-font-chart" style="font-size: 25px;"><i class="fa [options.FontChart] fa-fw alarmLevel1"></i></div>
                    </td>
                    <td align="center">
                        <div class="status-title">
                            <strong>[options.Name]</strong></div>
                    </td>
                    <td align="left">
                        <div class="status-value" style="font-size: 25px;"><i class="[status.value]"></i></div>
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>