<div class="panel-primary" partid="[id]" style="position: absolute; left: [left]px; top: [top]px; width: [width]px; height: [height]px; z-index: [zindex];">
    <div class="panel-body [options.BackStyle]" style="background-size:100% 100% !important; height:calc(100% - 19px);">
        <table style="width: 100%; height: 100%" class="body_transparent">
            <tbody>
            <tr>
                <td style="vertical-align: middle; text-align:[options.TextAlign]; font-size:[options.FontSize]px; font-weight:[options.FontWeight]; color:[options.Color];">[options.Name]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>