<div class="panel-primary" partid="[id]" style="position: absolute; left: [left]px; top: [top]px; width: [width]px; height: [height]px; z-index: [zindex];">
    <div class="panel-body" style="background-size:100% 100% !important; height:calc(100% - 19px);">
        <div  style="background-size:100% 100% !important; height: 100%; border-radius: 10px;" >
            <div class="topology-title" style="text-align: center;margin: 5px;font-size:[options.fontSize]px">
                <strong>[options.Name]</strong>
            </div>
            <div class="topology-img" style="background-size:100% 100% !important;background-repeat:no-repeat;background-image:url('[options.imgOpenFile]');transform: rotate(0deg); height: calc(100% - 36px); width: 100%;" >
                <img styles="width:100%; height:auto;" />
            </div>
        </div>
    </div>
</div>