<div class="panel-primary" partid="[id]" style="position: absolute; left: [left]px; top: [top]px; width: [width]px; height: [height]px; z-index: [zindex];">
    <div class="panel-body filled virtual-signal-body [options.Background]" style="height: calc(100% - 19px); font-size: [options.FontSize]px;">
        <div style="background-size:100% 100% !important; height: 100%; border-radius: 10px;">
            <table class="filled bg-transparent">
                <tbody><tr>
                    <td valign="bottom">
                        <div class="diagram-sigimg-title">
                            <strong>[options.Name]</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="diagram-sigimg-value signal-value-disconnect" style="width: 80%; color: rgb(0, 0, 0);">{{getCurrentValue('[id]')}} </div>
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>