<div class="modal-content am-modal-dialog">
    <div class="modal-header">
        <h4 class="modal-title"> {{languageJson.Header.User.Password.Title}}</h4><!--更改密码-->
    </div>
    <div class="model-body-footer">
        <div class="modal-body">
            <table align="center" class="body_transparent" style="margin: 0px auto;">
                <tr>
                    <td align="right" style="padding-right: 10px;">{{languageJson.Header.User.Password.CurrPwd}} : </td>
                    <td><input type="password" class="form-control" size="30" ng-model="user.oldPwd" Virtual-Key-Board="user.oldPwd"></td>
                </tr>
                <tr><td><br/></td></tr>
                <tr>
                    <td align="right" style="padding-right: 10px;">{{languageJson.Header.User.Password.NewPwd}} : </td>
                    <td><input type="password" class="form-control" size="30" ng-model="user.newPwd" Virtual-Key-Board="user.newPwd"></td>
                </tr>
                <tr><td><br/></td></tr>
                <tr>
                    <td align="right" style="padding-right: 10px;">{{languageJson.Header.User.Password.AgainNewPwd}} : </td>
                    <td><input  type="password" class="form-control" size="30" ng-model="user.newPwd2" Virtual-Key-Board="user.newPwd2"></td>
                </tr>
            </table>
            <p id="errorText" style="color:red;" ng-bind="user.info"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    ng-click="updatePassword()"><i class="fa fa-pencil-square-o"></i> {{languageJson.Header.User.Password.Modify}}</button><!--更改-->
        </div>
    </div>
</div>